@import '../../styles/global.module.scss';

.container {

  .content {
    padding: 20px;

    h1 {
      color: $color-palette-3;
      margin-bottom: 30px;
      line-height: 50px;

      sup {
        vertical-align: bottom;

        &:before {
          content: '[';
        }

        &:after {
          content: ']';
        }

        a {
          color: $color-palette-3;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            color: $color-palette-link-1;
            text-decoration-color: $color-palette-link-1;
          }
        }
      }
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 30px;
      color: $color-palette-9;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 25px;
      color: $color-palette-9;
    }

    p {
      color: $color-palette-1;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;

      sup {
        vertical-align: bottom;

        &:before {
          content: '[';
        }

        &:after {
          content: ']';
        }

        a {
          color: $color-palette-3;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            color: $color-palette-link-1;
            text-decoration-color: $color-palette-link-1;
          }
        }
      }
    }

    li {
      color: $color-palette-1;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
    }

    blockquote {
      position: relative;
      font-style: italic;
      margin-left: 8px;
      font-family: 'Times New Roman', Georgia, serif;
      border-left: 0.3em solid $color-palette-2;
      padding-left: 13px;

      &:before {
        content: '\201C';
        position: absolute;
        top: 0.0em;
        left: -0.10em;
        font-size: 3em;
        font-family: 'Times New Roman', Georgia, serif;
        color: $color-palette-1;
        --z-index: -1;
      }

      p {
        color: $color-palette-1;
        margin: 7px;
        line-height: 30px;
        text-align: justify;
      }
    }

    div[class="footnotes"] {
      margin-top: 3rem;

      ol {
        border-left-style: outset;
        border-left-width: 1px;
        border-left-color: $color-palette-2;
      }

      a[class="footnote-backref"] {
        color: $color-palette-3;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $color-palette-link-1;
          text-decoration-color: $color-palette-link-1;
        }
      }
    }
  }
}