@import '../../styles/global.module.scss';

.content {

  p,
  h2 {
    color: $color-palette-1;
  }

  a {
    color: $color-palette-link-1;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $color-palette-link-1;
    }
  }

  div {
    padding-bottom: 10px;
  }

}