$container-width: 100%;
$site-width: 960px;

// color pallete
$color-pallete-1: var(--color-pallete-1);
$color-pallete-2: var(--color-pallete-2);
$color-pallete-3: var(--color-pallete-3);
$color-pallete-4: var(--color-pallete-4);
$color-pallete-5: var(--color-pallete-5);
$color-pallete-6: var(--color-pallete-6);
$color-pallete-7: var(--color-pallete-7);
$color-pallete-8: var(--color-pallete-8);
$color-pallete-9: var(--color-pallete-9);

// color constants
$color-white: #ffffff;