$container-width: 100%;
$site-width: 960px;

// color palette
$color-palette-1: var(--color-palette-1);
$color-palette-2: var(--color-palette-2);
$color-palette-3: var(--color-palette-3);
$color-palette-4: var(--color-palette-4);
$color-palette-5: var(--color-palette-5);
$color-palette-6: var(--color-palette-6);
$color-palette-7: var(--color-palette-7);
$color-palette-8: var(--color-palette-8);
$color-palette-9: var(--color-palette-9);
$color-palette-link-1: var(--color-palette-link-1);
$color-palette-link-2: var(--color-palette-link-2);

// color constants
$color-white: #ffffff;