@import '../../../styles/global.module.scss';

.container {
  max-width: $site-width;
  min-height: 50px;
  margin: 0 auto;
  padding-top: 10px;

  .row {
    text-align: right;
    padding: 5px;
  }

  .button {
    --text-transform: uppercase;
    background-color: $color-palette-1;
    color: white;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 15px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;

    &:hover {
      background-color: $color-palette-2;
    }
  }

  .button-toggle-theme {
    @extend .button;
    border: 0px;
    margin-left: 10px;
  }

  .button-icon {
    @extend .button;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .button-github {
    @extend .button-icon;
  }

  .button-home {
    @extend .button-icon;
  }

  .link {
    color: $color-palette-1;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $color-palette-2;
    }

    &:not(:last-child) {
      padding-right: 30px;
    }
  }
}