@import '../../styles/global.module.scss';

.container {
  margin-bottom: 0px;
  border-bottom: 1px dotted $color-palette-6;
  display: inline-block;
  width: $container-width;
  transition: all 0.25s ease;
  box-shadow: inset 0 0 0 0 $color-palette-4;

  &:hover {
    cursor: pointer;

    @media screen and (min-width: 960px) {
      box-shadow: inset $site-width 0 0 0 $color-palette-7;
    }
  }

  .left {
    float: left;
    width: 150px;
    height: 150px;
    background-color: $color-palette-5;
  }

  .right {
    margin-left: 150px;
    padding: 15px;
    color: $color-palette-1;
    margin-top: -20px;

    .wip-ribbon {
      overflow: hidden;
      font-size: 13px;

      &:after {
        content: attr(data-ribbon);
        color: $color-palette-1;
        font: 700 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.54em;
        text-decoration: none;
        text-align: center;
        text-indent: 0;
        padding-bottom: 0.15em;

        /* Add "stitching" effect */
        border-width: 0.08em 0;
        border-style: dotted;
        border-color: #fff;
        border-color: $color-palette-3;
      }
    }

    .date {
      margin-top: -15px;
      margin-bottom: 20px;
      font-size: 12px;
    }

    .details {
      margin-bottom: 10px;
      font-size: 12px;
    }

    h3 {
      color: $color-palette-1;
    }
  }
}
