@import '../../../styles/global.module.scss';

$footer-height: 100px;

.container {
  background-color: $color-palette-9;
  width: $container-width;
  height: $footer-height;
  position: absolute;
  bottom: 0;

  .footer {
    margin: 0 auto;
    max-width: $site-width;
    height: $footer-height;
    line-height: $footer-height;
    color: $color-palette-7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 20px 0px 20px;

    a {
      color: $color-palette-link-2;
    }
  }

}