@import '../../../styles/global.module.scss';

.tag {
  display: inline-block;
  font-family: serif, 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
  margin-right: 1rem;

  span {
    cursor: pointer;

    a {
      text-decoration: none;
    }
  }

  span.color1 a {
    color: $color-palette-tag-1;
  }

  span.color2 a {
    color: $color-palette-tag-2;
  }

  span.color3 a {
    color: $color-palette-tag-3;
  }

  span.color4 a {
    color: $color-palette-tag-4;
  }

  span.color5 a {
    color: $color-palette-tag-5;
  }

  span.color6 a {
    color: $color-palette-tag-6;
  }

  span.color7 a {
    color: $color-palette-tag-7;
  }

  span.color8 a {
    color: $color-palette-tag-8;
  }

  span.color9 a {
    color: $color-palette-tag-9;
  }

  span.color10 a {
    color: $color-palette-tag-10;
  }

  span.color11 a {
    color: $color-palette-tag-11;
  }

  span.color12 a {
    color: $color-palette-tag-12;
  }

  span.color13 a {
    color: $color-palette-tag-13;
  }

  span.color14 a {
    color: $color-palette-tag-14;
  }

  span.color15 a {
    color: $color-palette-tag-15;
  }

  span.color16 a {
    color: $color-palette-tag-16;
  }

  span.color17 a {
    color: $color-palette-tag-17;
  }

  span.color18 a {
    color: $color-palette-tag-18;
  }

  span.color19 a {
    color: $color-palette-tag-19;
  }

  span.color20 a {
    color: $color-palette-tag-20;
  }
}